{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="icon" href="{% static 'img/logo1.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{%static 'js/notify.js'%}"></script>

    <title>{%block title%}{%endblock title%}</title>
</head>

<body>
    <div class="menu">
        <div class="container">
            <a class="logo" href="/"><img src="{%static 'img/logo1.png'%}" , width="50px"></a>
            <div class="nav">
                {%if user.is_authenticated%}
                    <a class="nav_link" href="{%url 'password_change'%}">Сменить пароль</a>
                    <form action="{%url 'logout'%}" method="POST">
                        {%csrf_token%}
                        <button class="button_out" type="submit">Выйти</button>
                    </form>
                {%else%}
                    
                    <a class="nav_link" href="{%url 'login'%}">Войти</a>
                    <a class="nav_link" href="{%url 'sign-up'%}">Зарегистрироваться</a>
                
                {%endif%}
                
            </div>
            <div class="logo_profile">
                {%if user.is_authenticated%}
                    <a href="#"><img src="{%static 'img/logo_profile.png'%}"></a>
                {%endif%}
            </div>
        </div>
    </div>
    {%block content%}

    {%endblock content%}
</body>

</html>