{%extends 'base.html'%}
{%block title%}password reset{%endblock title%}
{%block content%}
<div class="pass_reset">
    <h1 class="pass_reset_title">Восстановление пароля</h1>
    <p class="pass_reset_text">Заполните форму для восстановления пароля.</p>
    <div class="pass_reset_form">
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}

            <p><input type="submit" value="Восстановить пароль"></p>
        </form>
        {%if form.errors%}
        <p class="form_error">Ошибка данных!</p>
        {%endif%}

    </div>

</div>

{%endblock content%}