{%extends 'base.html'%}
{%block title%}password change{%endblock title%}
{%block content%}
<div class="pass_change">
    <h1 class="pass_change_title">Смена пароля</h1>
    <p class="pass_change_text">Заполните форму для смены пароля.</p>
    <div class="pass_change_form">
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}

            <p><input type="submit" value="Сменить пароль"></p>
        </form>
        {%if form.errors%}
        <p class="form_error">Ошибка данных!</p>
        {%endif%}

    </div>

</div>

{%endblock content%}