{%extends 'base.html'%}
{%load static%}
{%block title%}Отзывы{%endblock title%}
{%block content%}
<div class="review_body">
    <h1>{{title}}</h1>
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <p><input type="submit"></p>
    </form>
    <div class="reviews">
        <h2>Отзывы</h2>
        {%for review in all_reviews%}
        <div class="review">
            <p>{{review.name}}</p>
            <p>{{review.review}}</p>

        </div>
        {%endfor%}
    </div>
</div>

{%endblock content%}